* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(Img/jeremy-bishop-G9i_plbfDgk-unsplash.jpg);
}
.wrapper {
  margin: auto;
  max-width: 1260px;
  background-color: rgba(83, 107, 114, 0.43);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  padding: 50px 80px 20px;
  height: 100vh;
}

/* NAVIGATION BAR */

.nav-bar {
  margin-bottom: 50px;
  height: 100px;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
}
.nav-bar li {
  list-style: none;
}
.nav-bar a {
  display: block;
  color: rgb(222, 218, 100);
  text-decoration: none;
  font-size: 28px;
  margin: 10px 10px 0px 10px;
  font-weight: bold;
}
.nav-bar a:hover {
  color: rgba(233, 237, 237, 0.777);
}
.nav-bar a:focus {
  border-bottom: 2px solid white;
}

/* HOME PAGE */

.home-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 50px 0;
  margin-bottom: 50px;
}
.welcome-box {
  width: 45%;
}
.welcome-box h1 {
  color: aliceblue;
  font-size: 90px;
  animation: ride 2.5s linear;
}
.welcome-box h2 {
  color: aliceblue;
  font-size: 42px;
  line-height: 55px;
  animation: ride 3s linear;
}

/* ABOUT PAGE */

.about {
  width: 700px;
  text-align: center;
  margin: 100px auto;
}

.about h1 {
  color: rgb(213, 232, 247);
  font-size: 28px;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}
.about p {
  color: rgb(213, 232, 247);
  font-size: 24px;
  transition: 0.3s;
}
.about p:hover {
  transform: scale(105%);
}
.typed-text {
  animation: type 5s linear;
}

/* SKILLS PAGE */

.skills {
  margin: 100px auto;
}
.skills h1 {
  color: rgb(213, 232, 247);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto;
  font-style: italic;
}
.flex-skills {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding: 20px;
}
.flex-skills h2 {
  font-size: 28px;
  color: rgb(128, 171, 203);
  margin-bottom: 30px;
  text-align: center;
}
.flex-skills p {
  font-size: 35px;
  color: rgb(213, 232, 247);
  text-align: center;
  transition: 0.1s;
}
.html,
.css,
.java-script,
.git {
  flex-basis: 15%;
}
.html,
.css {
  animation: moveInL 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.java-script,
.git {
  animation: moveInR 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:visited {
  text-decoration: none;
  color: rgb(213, 232, 247);
}

a:hover {
  color: rgb(208, 255, 0);
}

/* CONTACT PAGE */

.contact {
  position: relative;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 200px;
}
.contact h1 {
  color: rgb(213, 232, 247);
  font-size: 28px;
  margin: 30px auto;
  font-style: italic;
}

.contact p {
  font-size: 20px;
  margin: 20px auto;
  animation: 2s shake infinite alternate;
}
.contact a {
  color: aliceblue;
}
/* Contact Form */

form {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 10px;
  background-color: #24373e;
  margin-bottom: 20px;
  display: none;
  border-radius: 10px;
}
input {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #24373e;
}
input::placeholder {
  color: antiquewhite;
}
label {
  color: antiquewhite;
}
.btn_form {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: antiquewhite;
}

.btn_form:nth-of-type(1) {
  background-color: rgba(152, 228, 152, 0.419);
}
.btn_form:nth-of-type(2) {
  background-color: rgba(240, 128, 128, 0.34);
}
.open_btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #24373e;
  color: antiquewhite;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: aliceblue;
}
video {
  width: 50%;
  height: auto;
  opacity: 0;
  animation: fadeIn 5s linear forwards;
}

/* PROJECTS PAGE */

.projects {
  color: aliceblue;
  text-align: center;
  font-size: 28px;
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  align-content: center;
  grid-gap: 15px;
  height: 50vh;
}
.grid p {
  text-align: center;
  margin-bottom: 15px;
  color: aliceblue;
  font-size: 18px;
}
.grid img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  transition: 0.3s;
}
.grid img:hover {
  transform: scale(105%);
}
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
  height: 50%;
  width: 50%;
  object-fit: contain;
}
/* FOOTER  */

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  opacity: 0.4;
}
footer h1 {
  color: bisque;
  text-align: center;
  font-size: 18px;
  margin-top: 8px;
}

/* ANIMATION */

@keyframes ride {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes moveInL {
  0% {
    transform: translate(0%, -1000%);
  }
  100% {
    transform: translate(0%, 0);
  }
}
@keyframes moveInR {
  0% {
    transform: translate(0%, 1000%);
  }
  100% {
    transform: translate(0%, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERY */

@media (max-width: 780px) {
  .wrapper {
    height: 100vh;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px 30px 0px 30px;
    overflow: auto;
  }
  /* NAVIGATION BAR MEDIA */
  .nav-bar {
    height: 240px;
  }
  .nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-bar a {
    color: aliceblue;
    font-size: 28px;
  }
  /* HOME PAGE MEDIA */

  .home-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .welcome-box {
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
  }
  .welcome-box h1 {
    margin-top: 20px;
    color: cornflowerblue;
    font-size: 46px;
    animation: ride 2.5s linear;
  }
  .welcome-box h2 {
    color: cornflowerblue;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  video {
    width: 80%;
    padding-bottom: 40px;
  }

  /* ABOUT PAGE MEDIA */

  .about {
    border-top: 2px solid black;
    width: 100%;
    margin: auto;
  }
  .about h1 {
    color: cornflowerblue;
    font-size: 26px;
    text-align: center;
    margin: 20px 0;
  }
  .about p {
    color: cornflowerblue;
    font-size: 22px;
    padding-bottom: 60px;
  }
  .html,
  .css,
  .java-script,
  .git {
    flex-basis: 48%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    animation: none;
  }

  /* SKILLS PAGE MEDIA */

  .skills {
    margin-top: 20px;
    border-top: 2px solid black;
  }
  .skills h1 {
    color: cornflowerblue;
    font-size: 28px;
    margin: 20px auto 50px auto;
  }
  .flex-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 60px;
    padding: 0px;
    gap: 10px;
  }
  .flex-skills h2 {
    font-size: 24px;
    color: rgb(128, 171, 203);
    margin-bottom: 30px;
    text-align: center;
  }
  .flex-skills p {
    font-size: 35px;
    color: rgb(213, 232, 247);
    text-align: center;
    transition: 0.1s;
  }
  /* CONTACT PAGE MEDIA */

  .contact {
    border-top: 2px solid black;
    text-align: center;
    margin-top: 0;
  }
  .contact h1 {
    color: cornflowerblue;
    font-size: 28px;
    margin: 20px auto 40px auto;
    font-style: italic;
  }

  .contact p {
    font-size: 24px;
    margin: 30px auto;
  }

  form {
    margin-bottom: 30px;
  }
  .projects {
    padding: 20px 0 40px 0;
    border-top: 2px solid black;
    margin-top: 20px;
  }
  .img-box img {
    width: 100%;
  }
  /* PROJECTS MEDIA */
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
    align-content: space-between;
    grid-gap: 10px;
    height: 50vh;
  }
  .grid img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: 0;
  }

  footer {
    top: 0;
    width: 20px;
    height: 100%;
    padding-top: 200px;
    writing-mode: vertical-rl;
  }
}
