* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 376px;
}

p {
  font-size: 16px;
}

.imgContainer {
  background: url(/images/illustration-sign-up-mobile.svg);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 30%;
}
.icon {
  height: 20px;
  width: 20px;
  margin-right: 16px;
}
.container {
  height: 100vh;
}
/* CONTENT MOBILE*/
.contentWrap {
  display: flex;
  flex-direction: column;
  margin: 38px 22px 0px 22px;
}
.contentWrap p {
  display: flex;
  margin-bottom: 28px;
}

.contentWrap h1 {
  font-size: 38px;
  margin-bottom: 18px;
}

/* FORM MOBILE*/
.form {
  display: flex;
  flex-direction: column;
  margin: 10px 22px;
}
.form label {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}
/* VALID EMAIL MESSAGE SPAN */

.active {
  background-color: rgba(255, 98, 87, 0.276);
  border-color: rgba(255, 98, 87, 0.661);
  color: hsl(4, 100%, 67%);
}
.active2 {
  color: hsl(4, 100%, 67%);
  margin-left: 95px;
}
/* /////////////////////////////////////////////// */
.form input {
  height: 58px;
  border-radius: 10px;
  margin-bottom: 24px;
  border: 2px solid hsl(332.83deg 18.55% 84.73%);
  cursor: pointer;
}

.text {
  padding-left: 5px;
  font-size: 16px;
}

.form input::placeholder {
  padding-left: 26px;
  font-size: 16px;
  color: hsl(231, 7%, 60%);
}
.submitBtn {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

/* SUBSCRIBE MESSAGE */
.msgContainer {
  margin: 0 22px;
  height: 100%;
}
.iconBig {
  height: 65px;
  width: 65px;
  margin: 100px 0 30px 0;
}
.msgContainer h2 {
  font-size: 40px;
  margin-bottom: 26px;
}
.emailTxt {
  font-weight: 700;
}
.dismissBtn {
  position: absolute;
  bottom: 40px;
  width: 330px;
  height: 58px;
  border-radius: 10px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.submitBtn:hover,
.dismissBtn:hover {
  background-color: hsl(4, 100%, 67%);
  border: none;
  box-shadow: 10px 12px 31px -8px hsl(4, 100%, 67%);
  -webkit-box-shadow: 10px 12px 31px -8px hsl(4, 100%, 67%);
  -moz-box-shadow: 10px 12px 31px -8px hsl(4, 100%, 67%);
}

/* MEDIA  */

@media (min-width: 377px) {
  body {
    background-color: hsl(235, 18%, 26%);
  }
  .imgContainer {
    background: url(/images/illustration-sign-up-desktop.svg);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
  }
  .icon {
    height: 20px;
    width: 20px;
    margin-right: 16px;
  }
  .container {
    padding: 22px;
    gap: 31px;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 920px;
    height: 630px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 35px;
  }

  /* CONTENT MOBILE*/
  .contentWrap {
    margin: 38px 22px 0px 22px;
    width: 50%;
  }
  .contentWrap p {
    margin-bottom: 14px;
  }
  .contentWrap p:nth-of-type(1) {
    margin-bottom: 26px;
  }
  .contentWrap p:nth-of-type(4) {
    margin-bottom: 40px;
  }

  .contentWrap h1 {
    font-size: 56px;
    margin: 32px 0px 20px 0px;
  }

  /* FORM MOBILE*/
  .form {
    margin: 10px 0px;
  }

  /* VALID EMAIL MESSAGE SPAN */
  .active2 {
    color: hsl(4, 100%, 67%);
    margin-left: 210px;
  }
  /* //////////////////////////////// */

  .submitBtn {
    font-size: 16px;
  }

  /* SUBSCRIBE MESSAGE */
  .msgContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 520px;
    margin: 0px 0px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 100%);
  }
  .iconBig {
    height: 65px;
    width: 65px;
    margin: 46px 65px 42px 65px;
  }
  .msgContainer h2 {
    font-size: 54px;
    margin: 0px 0px 14px 65px;
    line-height: 1.1;
  }
  .msgContainer p:nth-of-type(1) {
    margin: 0 65px;
    line-height: 1.5;
  }

  .dismissBtn {
    position: absolute;
    bottom: 11%;
    left: 65px;
    width: 380px;
    height: 58px;
  }
}
.turnoff {
  display: none;
}

.validEmail {
  color: hsl(4, 100%, 67%);
}
.valid {
  display: none;
}
